<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h2>this is home page</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab in corrupti minus ipsum corporis optio veniam rem quo, adipisci numquam atque assumenda velit nisi repellendus suscipit repudiandae laborum id officia dolores esse dolore tenetur? Alias, soluta. Deserunt temporibus necessitatibus earum ullam, eum placeat iure laudantium quam fugit autem aliquid explicabo.
    </p>
    <button>click me</button> 
    <p> <%= 2+1 %> </p>
    <p> <%= 2*10 %> </p>
</body>
</html>