<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in Detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Here is post in Detail</h2>
    <h2> Post id : <%= post.id %> </h2>
    <div class="post">
        <h2 class="user" >@<%=post.username %></h2>
        <p class="content" ><%= post.content %></p>
        <a href="http://localhost:8080/posts/">Back</a>
    </div>
    
    
</body>
</html>